@import "mixins";
* {
  font-family: Montserrat;
}

.container {
  max-width: 576px;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

h2{
  @include h2;
}
h3{
  @include h3;
}