.banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 52px;

  .lyuk {
    margin: auto 0 auto auto
  }
}
.banner_title {
  margin: auto;
  width: 318px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #fcfbfa;
}
.banner_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fcfbfa;
}
.banner_btn {
  display: flex;
  margin: auto;
  padding: 18px 20px;
  width: 328px;
  height: 60px;
  left: 16px;
  top: 418px;
  background: #fcfbfa;
  border-radius: 40px;
  justify-content: center;
  gap: 15px;
}
