@import "../../../scss/mixins";
@import "../../../scss/variables";

.RequestMapAbout {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 60px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 40px;

    p {
      @include body-2;
    }
  }

  .roundbutton {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 4px;
      background-color: $palette_orange_main;
      color: $palette_white_main;
      width: 282px;
      height: 282px;
      border-radius: 100%;

      svg {
        path {
          fill: $palette_white_main;
        }
      }
    }
  }

  .aboutImages {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 360px;
    padding-top: 10px;

    .svgcontainer {
      margin: auto;
    }

    a{
      img{
        width: 104px;
      }
    }

    img{
      width: 147px;
    }
  }

  .aboutBtn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    a {
      @include btn-s;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 45px;
      border: 1px solid;
    }
  }
}
