.headerDrop{
    background-color: #F86724;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 15px;
}

.dropdown{
    .title {
        border-bottom: 1px solid #FCFBFA73;
        padding: 16px 0 ;
    }
}