.step{
    margin-bottom: 60px;
}
.step_title{

left: 16px;
top: 110px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 110%;
color: #2A201C;
}
.stepBody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stepOne_btn{
display: flex;
padding: 16px 48px;
width: 328px;
height: 56px;
background: #F75307;
border-radius: 40px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
justify-content: center;
    gap: 10px;
    color: white;
}
.step_list{
    padding-bottom: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
color: #2A201C;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.btn_next{

display: flex;

align-items: flex-start;
padding: 12px;

width: 328px;
height: 40px;

background: #F75307;
border-radius: 30px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
justify-content: center;
color: white;
}
.btn_back{
display: flex;
padding: 12px;
background: #303E3E;
border-radius: 30px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
justify-content: center;
color: white;
}
.adress_btn{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 328px;
height: 38px;
left: 16px;
top: 251px;
border-radius: 20px;

}
.btn_map{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
color: #fff;
width: 275px;
height: 275px;

background: #F75307;
border-radius: 1000px;
flex: none;
order: 0;
flex-grow: 1;
width: 170px;
height: 170px;
}
.inputs{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.btn_apply{

display: flex;
padding: 16px 48px;
justify-content: center;
background: #F75307;
border-radius: 40px;
align-items: center;
gap: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
color: #fff;
}
.description {
    border-radius: 10px;
    height: 118px;

}